/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Stile dell'header */
header {
    background: #00B2FF;
    padding: 20px;
    text-align: center;
}

/* Stile del logo */
#logo {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Stile dell'h1 nell'header */
header h1 {
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

/* Stile della navigazione */
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

/* Stile dei link nella navigazione */
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Stile della galleria di immagini */
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Utilizza colonne flessibili */
    gap: 20px;
    margin-top: 20px;
}

.item {
    text-align: center;
    margin-bottom: 30px;
    transition: opacity 0.3s ease;
}

.item img {
    max-width: 100%; /* Massima larghezza del 100% per adattarsi al contenitore */
    height: auto; /* Altezza automatica per mantenere l'aspetto proporzionato */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Stile delle sezioni */
section {
    background: #fff;
    padding: 50px;
    text-align: center;
    margin-top: 20px; /* Aggiungi spazio tra le sezioni */
    border-radius: 10px; /* Rendi i bordi delle sezioni arrotondati */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiungi una leggera ombra */
}

/* Stile degli h2 nelle sezioni */
section h2 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

section h2:hover {
    transform: scale(1.05);
}

/* Stile dei paragrafi nelle sezioni */
section p {
    text-align: justify;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
}

/* Stile del footer */
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

/* Stile del container nel footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Stile delle informazioni di contatto */
.contacts {
    text-align: center;
    margin-bottom: 20px;
}

/* Stile degli h3 nelle informazioni di contatto */
.contacts h3 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

/* Stile delle ul nelle informazioni di contatto */
.contacts ul {
    list-style-type: none;
    padding: 0;
}

/* Stile delle li nelle informazioni di contatto */
.contacts ul li {
    margin-bottom: 10px;
}

/* Stile delle icone nelle informazioni di contatto */
.contacts ul li i {
    margin-right: 10px;
    color: #007bff;
}

/* Stile del testo nell'informazione di contatto Instagram */
.contacts ul li.insta p {
    display: inline;
    margin: 0;
}

/* Stile del link Instagram nelle informazioni di contatto */
.contacts ul li.insta a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

/* Stile del testo nel footer */
footer p {
    font-size: 0.9em;
}

/* Media query per desktop con larghezza minore o uguale a 1024px */
@media only screen and (min-width: 769px) {
    .gallery-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tre colonne con larghezza uguale */
        gap: 20px; /* Aggiungi spazio tra le immagini */
    }

    .item {
        margin-bottom: 30px; /* Aumenta lo spazio tra le immagini */
    }
    /* Stile delle immagini nella galleria */
.item img {
    max-width: 100%; /* Massima larghezza del 100% per adattarsi al contenitore */
    height: auto; /* Altezza automatica per mantenere l'aspetto proporzionato */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 200px; /* Riduci la larghezza massima delle immagini su desktop */
}

}
