body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(rgb(55, 0, 255), rgb(0, 217, 255)) ;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 95px;
}
#logo {
        float: left; /* Posiziona il logo a sinistra */
        margin-right: 20px; /* Aggiunge un margine a destra per separare il logo dalla barra di navigazione */
        margin-top: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
#about {
    background-color: #fff !important; /* Colore di sfondo personalizzato */
    padding: 50px 20px;
}
#about h2 {
    text-align: center;
    margin-bottom: 20px; /* Riduciamo il margine inferiore */
    font-family: 'Montserrat', sans-serif; /* Font più stiloso */
    font-size: 2.5em; /* Dimensione del testo leggermente più piccola */
    color: #333; /* Colore del testo */
    text-transform: uppercase; /* Trasformiamo il testo in maiuscolo */
    letter-spacing: 2px; /* Spaziatura tra le lettere */
    transition: all 0.3s ease; /* Effetto di transizione */
}

#about h2:hover {
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}
#about p {
    text-align: justify;
    font-family: 'Arial', sans-serif; /* Font più leggibile */
    font-size: 1.2em; /* Dimensione del testo */
    color: #666; /* Colore del testo più scuro */
    line-height: 1.6; /* Altezza della riga per una migliore leggibilità */
}
#about p strong {
    font-weight: bold;
    color: #000;
    display: block;
    margin-top: 15px;
    text-align: center;
    font-style: italic; 
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}
#gallery h2 {
    text-align: center;
    margin-bottom: 20px; /* Riduciamo il margine inferiore */
    font-family: 'Montserrat', sans-serif; /* Font più stiloso */
    font-size: 2.5em; /* Dimensione del testo leggermente più piccola */
    color: #333; /* Colore del testo */
    text-transform: uppercase; /* Trasformiamo il testo in maiuscolo */
    letter-spacing: 2px; /* Spaziatura tra le lettere */
    transition: all 0.3s ease; /* Effetto di transizione */
}
#gallery h2:hover {
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}
section h2 {
    text-align: center;
}
.gallery-immages {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Mostra gli oggetti in due colonne */
    gap: 20px;
    margin-top: 20px;
}
.item {
    text-align: center;
    margin-bottom: 50px;
    transition: opacity 0.3 ease;
}
.item:hover {
    opacity: 0.8; /* Riduci leggermente l'opacità al passaggio del mouse */
    transform: scale(1.5);
}
.item img {
    width: 200px; /* larghezza predefinita */
    height: auto; /* altezza automatica per mantenere l'aspetto proporzionato */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.contacts {
    text-align: center;
}

.contacts h3 {
    font-size: 1.5em;
    color: #fff;
}

.contacts ul {
    list-style-type: none;
    padding: 0;
}

.contacts ul li {
    margin-bottom: 10px;
}

.contacts ul li i {
    margin-right: 10px;
    color: #007bff;
}
.contacts ul li.insta p,
.contacts ul li.insta a {
    display: inline-block;
    margin: 0;
}

.contacts ul li.insta a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
.item {
    text-align: center;
    margin-bottom: 50px;
}
